@use "../utility" as *;
@use "../abstracts" as *;

// Header Image
.header {
  position: relative;
  z-index: 999;
  background: url("/assets/pattern-bg.png") no-repeat center/cover;

  @include breakpoint-down(small) {
    height: 35vh;
  }

  @include breakpoint-up(medium) {
    height: 30vh;
  }
}

// Map Div
#map {
  @include breakpoint-down(small) {
    height: 65vh;
  }

  @include breakpoint-up(medium) {
    height: 70vh;
  }
}

// Container
.ipContainer {
  flex-direction: column;

  & > h1 {
    color: white;
    margin-top: 25px;
  }

  @include breakpoint-up(large) {
    margin: 0 250px;
  }
}

// SearchBar
.search {
  margin: 25px 0;
  width: calc(100% - 25px);
}

.inputStyle {
  position: relative;
  height: 58px;
  width: 100%;
  border-radius: 15px;
  border: none;
  color: $primaryColor;
  font-size: 1.125rem;
  padding-left: 25px;

  &:focus {
    outline: none;
  }
}

#searchBtn {
  position: absolute;
  right: 12px;
  background-color: black;
  height: 58px;
  border-radius: 0 15px 15px 0;
  border: none;
  cursor: pointer;

  & > img {
    margin: 15px;
  }

  @include breakpoint-up(large) {
    right: 262px;
  }
}

// Card that contains stats
.ipStatsCard {
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  width: calc(100% - 25px);
  filter: drop-shadow(0 50px 50px #00000080);
  padding: 25px;

  @include breakpoint-up(medium) {
    flex-direction: row;
    align-items: center;
  }
}

// Stat divs inside StatsCard
.stat {
  padding: 0 20px;

  & p {
    color: $secondaryColor;
    margin-bottom: 10px;
  }

  & span {
    color: $primaryColor;
  }
  @include breakpoint-down(small) {
    & p {
      text-align: center;
      font-size: 0.625rem;
      font-weight: 700;
      letter-spacing: 1.46px;
    }

    & span {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      letter-spacing: -0.18px;
      line-height: 24px;
    }

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @include breakpoint-up(medium) {
    width: 25%;
    height: 50%;
    & p {
      text-align: left;
      font-size: 0.75rem;
    }

    & span {
      text-align: left;
      font-size: 1.2rem;
    }
    &:not(:last-child) {
      border-right: 1px solid $secondaryColor;
    }
  }
}
